//retrun css setting for col in grid
@mixin col($col, $colBase: 12){
	max-width: percentage( $col * 1 / $colBase  );
	width: 100%;
	padding: 0 $gup;
}

// Used in nav-bar. Add orange after block
@mixin active-link{
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: rem(3);
		top: rem(-9);
		background-color: $orange;
	}
}

//for sections title
@mixin section-title($color, $font-size, $font-weight, $margin-bottom: rem(34)){
	color: $color;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: calc( #{$font-size} + #{rem(6)} ) ;
	margin-bottom: $margin-bottom; 
	text-transform: capitalize;
}

// for section text
/*
	$c - color
	$fs - font size [px for rem()]
	$fw - wont weight
	$lg - line height, calculated based on font size [+6];
	$pb - padding bottom [px for rem()]
*/
@mixin section-text($c, $fs, $fw, $pb){
	color: $c;
	font-size: $fs;
	font-weight: $fw;
	line-height: lh($fs);
	padding-bottom: $pb;
}

// link button
/*
	$bgc - background color in HEX
*/
@mixin btn($bgc){
	display: inline-block;
  height: $btn-height;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: $bgc;
  color: $white;
  font-size: $btn-fsize;
  font-weight: $btn-fweight;
  line-height: $btn-lheight;
  text-transform: uppercase;
  padding: 0 $gup;
  text-align: center;
  transition: all .3s ease;
  &:hover{
  	color: $black;
  }
}