.about{
	@extend .min-width;
	background-color: $color-01;
	& *{
		transition: all .3s ease;
	}
	&__container{
		@extend .row-container;	
		min-height: rem(664);
		padding-top: rem(34);
		justify-content: flex-end;
		align-items: center;
		background: url('../img/raspberries.png') no-repeat 0 50%;
		
	}
	&__info-wrap{
		@include col(5);

	}
	&__title{
		@include section-title($white, $title-global-font-size, $title-global-font-weight);
	}
	&__text{
		@include section-text($white, $text-global-fs, $text-global-sw, rem(20));
	}

	@media screen and (max-width: $bp-7) {
		&__container{
			align-items: flex-start;
			min-height: rem(364);
			padding-top: rem(40);
			padding-bottom: rem(40);
		}	
		&__info-wrap{
			@include col(12);
		}
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: rem(1024)) {
		&__title,&__text{
			color:$black;
		}
	}
}