$scrol-img-width: rem(24);
$scrol-img-height: rem(40);

.hero{
	height: 100vh;
	background: url('../img/hero-bg.png') no-repeat 50% 0% #f8f7fa;
	position: relative;
	// background-size: cover;
	&__container{
		@extend .row-container-col;

	}
	&__info-wrap{
		@include col(4);
		padding-top: 20vh;
	}
	&__title{
		@include section-title($black, rem(60), 800);
	}
	&__text{
		@include section-text($black, rem(17), 300, rem(31));
	}
	&__btn{
		@include btn($orange);
	}
	&__scrol-wrap{
		display: inline-block;
		position: absolute; 
		bottom: 8vh;
		left: calc( 50% - #{$scrol-img-width / 2} );
	}

	&__scrol-img{
		width: $scrol-img-width;
		height: $scrol-img-height;
	}
}
