.nav-bar{
	&__container{
		@extend .row-container;
		align-items: center;
		padding: rem(50) 0 rem(45);
	}
	&__logo-wraper{
		@include col(2);
	}
	&__nav-wrapper{
		@include col(10);	
	}
	&__list{
		@extend .flex;
		justify-content: flex-end;
	}
	&__list-item{
		margin-right: rem(35);
		position: relative;
		&:last-child{
			margin-right:0;
		}
		&--active{
			@include active-link();
		}
		&:hover{
			@include active-link();
		}
	}
	&__link{
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		text-transform: uppercase;
	}
}